<div class="spacer"></div>
  <div class="container">
    <div class="d-flex justify-content-evenly mb-3">
      <h1 class="w-100">My Lists</h1>
      <%= link_to 'Create a movie list', new_list_path, class:'flex-shrink-1 btn btn-primary'%>
    </div>
      <div class="row mb-5">
        <% @lists.each do |list| %>
          <%= render 'shared/indexcard', list: list %>
        <% end %>
      </div>
</div>
