<nav class="navbar navbar-light">
  <div class="container">
    <div class="navbar-brand">
      <%= link_to lists_path do %>
        <%= image_tag 'popcorn.svg', alt: 'Popcorn Logo', class:'img' %>
      <% end %>
    </div>
    <%= link_to 'New List', new_list_path %>
  </div>
</nav>
