nav.navbar.navbar-light {
  background-color: #FAFA69;
}

.navbar-brand {
  justify-content: space-between;
  background-color: $transparent;
}

.navbar-brand .navbar-collapse {
  flex-grow: 0;
}

.img {
  width: 40px;
}
